  <h1>SE3316a - Space Invaders</h1>
  <hr />
  
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="game"></div>
        </div>
      </div>
    </div><!-- /col-md-7 -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="chatbox">
            <table class="table table-striped" id="chatbox-table">
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <form class="chatbox-form">
            <div class="input-group">
              <% if (user) { %>
                <input class="form-control" id="chatbox-message-field" type="text" placeholder="Enter a message...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Submit</button>
                </span>
              <% } else { %>
                <input class="form-control" id="chatbox-message-field" type="text" disabled="disabled" placeholder="Please login to use the chatbox">
                <span class="input-group-btn">
                  <button class="btn btn-default" disabled="disabled" type="submit">Submit</button>
                </span>
              <% } %>
            </div><!-- /input-group -->
          </form>
        </div><!-- /panel-footer -->
      </div><!-- /panel panel-default -->
    </div><!-- /col-md-5 -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped" id="highscore-table">
            <tr>
          	  <th colspan="3">Highscores</th>
          	</tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>