<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./public/images/favicon.ico">

    <title>Space Invaders</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="./public/stylesheets/style.css" rel="stylesheet">
    <link href="./public/stylesheets/fonts.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="/"><img src="./public/images/logo-grey.png" class="logo" width="125px" height="auto"/></a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
    		<% if (user) { %>
    		  <div class="navbar-form navbar-right">
    		    <span class="navbar-text welcome">Welcome back <%= user.givenName %>!</span>
    		    <form class="logout-form" action="/logout">
			      <input class="btn btn-default" type="submit" value="Log out" />
			    </form>
			  </div>
    		<% } %>
    	  </div>
		</div><!--/.navbar-collapse -->
	  </div>
	</nav>

    <!-- Begin page content -->
    <div class="container">
      <% if (user) { %>
        <% include content %>
      <% } else {%>
        <% if (login) { %>
          <% include login %>
        <% } else if (register) { %>
          <% include register %>
        <% } else { %>
          <h1>Unauthorized access</h1>
          <hr/>
          <p class="lead">Please <a href="/login">login</a> or <a href="/register">register</a> to view this content</p>
        <% } %>
      <% } %>
    </div> <!-- /container -->

    <div class="footer">
      <div class="container">
        <p class="text-muted">&#169; Tom Fischer 2014</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="./public/scripts/phaser.min.js"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./public/scripts/ie10-viewport-bug-workaround.js"></script>
    <script src="./public/scripts/chatbox.js"></script>
    <script src="./public/scripts/highscores.js"></script>
    <script src="./public/scripts/game.js"></script>
    <script src="./public/scripts/misc-scripts.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkQEtqiNl5PFuP_G9lMDffQmpSrwaLG-k&sensor=true&v=3.exp&libraries=visualization"></script>
    <script src="./public/scripts/map.js"></script>
  </body>
</html>
