<div class="navbar-form navbar-right">
  <form class="login-form" method="post">
    <input type="hidden" name="_csrf" value="csrfToken">
    
    <div class="form-group">
      <% if (app.get('stormpathEnableUsername')) { %>
        <input type="text" placeholder="Username or Email" class="form-control" name="login">
      <% } else { %>
        <input type="text" placeholder="Email" class="form-control" name="login">
      <% } %>
    </div>
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Register <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <form role="form" method="post">
        Create an Account
        <li class="divider"></li>
        
        <% if (app.get('stormpathEnableGivenName')) { %>
        <div class="form-group vertical">
          <input class="form-control" type="text" required="<% app.get('stormpathRequireGivenName') ? true : false %>" placeholder="First Name" name="first_name"/>
        </div>
        <% } %>
        
        <% if (app.get('stormpathEnableSurName')) { %>
        <div class="form-group vertical">
          <input class="form-control" type="text" required="<% app.get('stormpathRequireSurName') ? true : false %>" placeholder="Last Name" name="last_name"/>
        </div>
        <% } %>
        
        <div class="form-group vertical">
          <input class="form-control" type="text" required="true" placeholder="Email" name="email"/>
        </div>
        
        <div class="form-group vertical">
          <input class="form-control" type="password" required="true" placeholder="Password" name="password"/>
        </div>
        
        <div class="form-group vertical">
          <input class="btn btn-primary" type="submit" value="Register"/>
        </div>
      </form>
    </ul>
  </div>
</div>