<div class="panel panel-default">
<div class="panel-body">
<form class="form-horizontal" role="form" method="post">
<input name="_csrf" type="hidden" value="csrfToken">
  <div class="form-group">
    <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFirstName" placeholder="Enter your first name" name="firstName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLastName" placeholder="Enter your last name" name="lastName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password" name="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
</div>
</div>