* { 
  margin: 0; 
  padding: 0; 
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.chatbox {
  overflow: auto;
  height: 397px;
  border: 1px solid #DDD;
}

#chatbox-table {
  font-size: x-small;
}

#highscore-table {
  border: 1px solid #DDD;
}

#game {
  border: 1px solid #000;
}

#map-canvas {
    border: 1px solid #AAA;
    height: 443px;
}

#highscore-table > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
  font-size: x-large;
}

#highscore-table > tbody > tr > td {
	/*text-align: center;*/
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { 
  border-top: none;
  border-bottom: 1px solid #DDD;
}

tr td:first-child, tr td:last-child {
    width:1%;
    white-space: nowrap;
}

.chatbox-message-user {
  font-weight: bold;
  font-style: italic;
}

.chatbox-message-time {
  font-style: italic;
  color: #AAA;
}

.dropdown-menu {
  padding: 15px;
}

.login-form, .logout-form {
  display: inline-block;
}

div.vertical {
  margin-top: 15px !important;
  display: block !important;
}

div.vertical > input {
  width: 100% !important;
}

.dropdown-menu {
  width: 300px;
  border-top:0px;
  margin-top:3px;
}

.dropdown-menu .col-sm-12 {
  margin-bottom:7px;
}
.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  right: 10px;
}

.welcome {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.logo {
  margin-top: 5px;
}

/* ------------------------------------------------ */

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
